body{

    height: 100vh;
    background-image: linear-gradient(rgb(204, 230, 244),rgb(18, 93, 151));
    overflow-y: hidden;
}
.logo{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    opacity: 0.8;
    margin-top: 2vw;
    margin-bottom: -0.6vw;
}
h1{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
     
}
.container{
    border: 2px solid black;
    width: 60vw;
    height: 30vw;
    margin: auto;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 12px;
    margin-top: 6px;
    border-radius: 10px;
}

.message{
    padding: 8px;
    margin: 4px 2px;
    font-size: 18px;
    background-color: #92a6a6;
    max-width: 50vw;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.right{
     float: right;
     clear: both;
}
.left{
     float: left;
     clear: both;
}
.mid{
    margin: auto;
}

#send-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 7px;
}

#messageInp{
    width: 50vw;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
}
.btn{
    padding: 6px;
    margin-right: -19px;
    margin-left: 4px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(222, 222, 237);
}
.Name{
    font-weight: bold;
}

@media only screen and (max-width: 672px) {
     .container{
        width: 80vw;
        height: 43vw;
     }
     h1{
        font-size: 16px;
     }
     #messageInp{
        width: 63vw;
     }
     .message{
        margin: 15px 14px;
        font-size: 13px;
     }
  }

  @media only screen and (max-width: 400px){
    .container{
        width: 80vw;
        height: 60vh;
     }
     .message{
         max-width: 60vw;
         font-size: 14px;
     }
  }

